@page
@using System.Net
@using Microsoft.AspNetCore.Mvc.Localization
@using HRMapp.Localization
@using HRMapp.Permissions
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.Users
@model HRMapp.Web.Pages.IndexModel
@inject IAuthorizationService Authorization

@inject IHtmlLocalizer<HRMappResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
    <style>
    .lpx-content{
          background-image: url('/images/cool-background.png');
          background-size: cover;
    
    }
            /* CSS inline */
            .text-center h1 {
                font-size: 36px;
                font-weight: bold;
                margin-bottom: 20px;
            }
    
            .card .card-body h1,
            .card .card-body p {
                font-size: 24px;
                font-weight: bold;
            }
        </style>
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}

 <div id="mainClass" class="container">
        <div class="p-5 text-center">
            <h1 style="font-size: 50px; font-weight: bold; margin-bottom: 20px;">PHẦN MỀM QUẢN LÝ NHÂN SỰ THGROUP</h1>

            @if (!CurrentUser.IsAuthenticated)
            {
                <a abp-button="Primary" href="~/Account/Login"><i class="fa fa-sign-in"></i> @L["Login"]</a>
            }
        </div>

         @if (CurrentUser.IsAuthenticated)
                   {
                      <div class="card ">
            <div class="card-body shadow p-2 mb-5 rounded">
                <div class="p-md-3">
                    <!-- Main content -->
                    <section class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="shadow p-2 mb-5 rounded col-lg-3 col-md-6 mb-4">
                                    <div class="card bg-info text-white">
                                        <div class="card-body">
                                            <h1 id="departmentCount" style="color:white;font-size: 40px; font-weight: bold;">0</h1>
                                            <p style="color:white; font-size: 20px;">Tổng số Phòng ban</p>
                                        </div>
                                        <a href="/Departments/Department" class="card-footer text-white d-flex justify-content-between align-items-center">
                                            Xem thêm <i class="fas fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="shadow p-2 mb-5 rounded col-lg-3 col-md-6 mb-4">
                                    <div class="card bg-success text-white">
                                        <div class="card-body">
                                            <h1 id="contactCount" style="color:white;font-size: 40px; font-weight: bold;">0</h1>
                                            <p style="color:white;font-size: 20px;">Tổng số Liên lạc</p>
                                        </div>
                                        <a href="/Contacts/Contact" class="card-footer text-white d-flex justify-content-between align-items-center">
                                            Xem thêm <i class="fas fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="shadow p-2 mb-5 rounded col-lg-3 col-md-6 mb-4">
                                    <div class="card bg-warning text-white">
                                        <div class="card-body">
                                            <h1 id="employeeCount" style="color:white;font-size: 40px; font-weight: bold;">0</h1>
                                            <p style="color:white;font-size: 20px;">Tổng số Nhân viên</p>
                                        </div>
                                        <a href="/Employees/Employee" class="card-footer text-white d-flex justify-content-between align-items-center">
                                            Xem thêm <i class="fas fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="shadow p-2 mb-5 rounded col-lg-3 col-md-6 mb-4">
                                    <div class="card bg-danger text-white">
                                        <div class="card-body">
                                            <h1 id="contractCount" style="color:white;font-size: 40px; font-weight: bold;">0</h1>
                                            <p style="color:white;font-size: 20px;">Tổng số Hợp đồng</p>
                                        </div>
                                        <a href="/Contracts/Contract" class="card-footer text-white d-flex justify-content-between align-items-center">
                                            Xem thêm <i class="fas fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
                   }
     
 </div>
