@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using HRMapp.Localization
@inject IHtmlLocalizer<HRMappResource> L
@model HRMapp.Web.Pages.Contracts.Contract.CreateModalModel
@{
    Layout = null;
}
<form asp-page="/Contracts/Contract/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["CreateContract"].Value"></abp-modal-header>
        <abp-modal-body>
            @await Html.PartialAsync("_Form")
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>