@page
@using HRMapp.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using HRMapp.Web.Pages.Contracts.Contract
@using HRMapp.Localization
@using HRMapp.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<HRMappResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Contract"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Contract"].Value);
    PageLayout.Content.MenuItemName = HRMappMenus.Contract;
}

@section scripts
{
    <abp-script src="/Pages/Contracts/Contract/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Contracts/Contract/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Contract"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
			    @if (await Authorization.IsGrantedAsync(HRMappPermissions.Contract.Create))
                {
                <abp-button id="NewContractButton"
                            text="@L["CreateContract"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="ContractCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="ContractFilter" id="ContractFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="ContractCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="ContractTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
