@page
@using HRMapp.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using HRMapp.Web.Pages.Contacts.Contact
@using HRMapp.Localization
@using HRMapp.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<HRMappResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Contact"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Contact"].Value);
    PageLayout.Content.MenuItemName = HRMappMenus.Contact;
}

@section scripts
{
    <abp-script src="/Pages/Contacts/Contact/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Contacts/Contact/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Contact"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
			    @if (await Authorization.IsGrantedAsync(HRMappPermissions.Contact.Create))
                {
                <abp-button id="NewContactButton"
                            text="@L["CreateContact"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="ContactCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="ContactFilter" id="ContactFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="ContactCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="ContactTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
