@page
@using HRMapp.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IHtmlLocalizer<HRMappResource> L
@model HRMapp.Web.Pages.Employees.EmployeeHistory.EditModalModel
@{
    Layout = null;
}
<form  asp-page="/Employees/EmployeeHistory/CreateModal">
 <abp-modal>
         <abp-modal-header title="@L["EditEmployeeHistory"].Value"></abp-modal-header>
         <abp-modal-body>
             <abp-input asp-for="Id" />
             @await Html.PartialAsync("_Form")
         </abp-modal-body>
         <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
     </abp-modal>
 </form>
