/* Your Global Styles */

:root .lpx-theme-dim, :root .lpx-theme-dark {
    --lpx-logo: url('/images/logo/leptonx/logo-light.png');
    --lpx-logo-icon: url('/images/logo/leptonx/logo-light-thumbnail.png');
}

/* for light theme style */
:root .lpx-theme-light, :root .lpx-brand-logo {
    --lpx-logo: url('/images/logo/leptonx/logo-dark-thumbnail.png');
    --lpx-logo-icon: url('/images/logo/leptonx/logo-dark-thumbnail.png');
}