@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using HRMapp.Localization
@inject IHtmlLocalizer<HRMappResource> L
@model HRMapp.Web.Pages.Attendents.AttendentForMonth.ExportAllAttendentForMonthModalModel
@{
    Layout = null;
}
@section scripts
{
    <abp-script src="/Pages/Attendents/AttendentForMonth/index.js" />
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chấm Công</title>
    <style>
    
       
        table {
            width: 100%;
            
        }
       

        table, th, td {
            border: 2px solid black;
        }

       th, td {
           max-width: 150px; /* Set a maximum width for cells */
           overflow: hidden;
           text-overflow: ellipsis; /* Add ellipsis for overflow */
           white-space: nowrap; /* Prevent line breaks */
       }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<abp-modal size="Fullscreen">
    <abp-modal-header><h3>Bảng Chấm Công</h3></abp-modal-header>
    <abp-modal-body>   
        
        <div class="row text-center mb-3"> <!-- Center-align the content -->
                   <h1 class="fw-bolder">CÔNG TY TNHH TẬP ĐOÀN T&H VIỆT NAM</h1>
        <h3 id="AttendentMonthDepartment"></h3>
        </div>
        <abp-table class=" table table-responsive" id="attendentForMonthDetailForDepartmentTable"></abp-table>
        <div class="row text-end">
            <p class="col-11 mt-5">Ngày ....... tháng ....... năm 20.......</p>
        </div>
<div class="row mt-3">
    <div class="col-lg-4">
        <p class="text-center"><strong>Người lập</strong></p>
        <p class="text-center">(Ký, họ tên)</p>
    </div>
    
    <div class="col-lg-4">
        <p class="text-center"><strong>Phụ trách bộ phận</strong></p>
        <p class="text-center">(Ký, họ tên)</p>
    </div>
    
    <div class="col-lg-4">
        <p class="text-center"><strong>Giám đốc</strong></p>
        <p class="text-center">(Ký, họ tên)</p>
    </div>
</div>        
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Close)">
          <button class="btn btn-primary" id="exportAttendentForMonthForDepartmentPdfButton">Export to PDF</button>
    </abp-modal-footer>
</abp-modal>



</body>
</html>
